.custom_tag_0{
  background-color: white;
}
.custom_tag_1{
  background-color: #F06050;
}
.custom_tag_2{
  background-color: #F4A460;
}
.custom_tag_3{
  background-color: #F7CD1F;
}
.custom_tag_4{
  background-color: #6CC1ED;
}
.custom_tag_5{
  background-color: #814968;
}
.custom_tag_6{
  background-color: #EB7E7F;
}
.custom_tag_7{
  background-color: #2C8397;
}
.custom_tag_8{
  background-color: #475577;
}
.custom_tag_9{
  background-color: #D6145F;
}
.custom_tag_10{
  background-color: #30C381;
}
.custom_tag_11{
  background-color: #9365B8;
}
