<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="res_config_settings_view_form_purchase" model="ir.ui.view">
        <field name="name">res.config.settings.view.form.inherit.purchase</field>
        <field name="model">res.config.settings</field>
        <field name="priority" eval="25"/>
        <field name="inherit_id" ref="base.res_config_settings_view_form"/>
        <field name="arch" type="xml">
            <xpath expr="//app[@name='purchase']" position="inside">
                <block title="Shipment Tracking" name="bill_shipment_tracking">
                    <setting id="allow_tracking"
                             help="Allow Bills and PO's shipment documents tracking">
                        <field name="allow_shipment_tracking" string="Allow Shipment Tracking" widget="upgrade_boolean" readonly="0"/>
                    </setting>
                </block>
            </xpath>
        </field>
    </record>
</odoo>